<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Login</title>
        <link rel="icon" href="https://github.com/Isac-AS/LaBaraja/blob/Raul/website/images/LogoPocho.png?raw=true">

        <link rel="stylesheet" href="css\login.css">
    </head>
    <body>
        <div class="flexContainer">
            <div id="loginBox">
                <p> Correo eléctronico / Nombre de usuario </p>
            </div>
        </div>
    </body>
</html>

    