<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <title>La Baraja</title>
    
        <link rel="stylesheet" href="css\default.css">
    </head>
    <body>
        <p class="appName1">LA BARAJA</p>
        <div class="logo1">
            <img src="https://github.com/Isac-AS/LaBaraja/blob/Raul/website/images/LogoPocho.png?raw=true">
        </div>
        <p class="appName2">LA BARAJA</p>
    </body>
</html>

