<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    
        <title>La Baraja</title>
    
        <link rel="stylesheet" href="css\default.css">
    </head>
    <body>
        <p class="appName1">LA BARAJA</p>
        <section id="flexContainer">
            <img src="https://github.com/Isac-AS/LaBaraja/blob/Raul/website/images/LogoPocho.png?raw=true">
            <form id="formContainer">
                <label for="name"><b>Nombre de usuario</b></label><br>
                <input type="text" class="loginBox" id="name" placeholder="Nombre de usuario" maxlength="20" required>
                <label for="name"><b>Correo electrónico</b></label><br>
                <input type="email" class="loginBox" id="email" placeholder="Correo electrónico" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
                <div style="display: flex;">
                    <div style="flex-direction: column;">
                        <label for="passwd1">Contraseña</label><br>
                        <input id="passwd1" class="loginBox" type="password" placeholder="Nueva ontraseña"required>
                    </div>
                    <div style="flex-direction: column;">
                        <label for="passwd2">Contraseña</label> <br>
                        <input id="passwd2" class="loginBox" type="password" placeholder="Nueva ontraseña"required>
                    </div>
                </div>
                </div>
            </form>
        </section>
        <p class="appName2">LA BARAJA</p>
    </body>
</html>
